body
{
	background-color: floralwhite;
}

table
{
	border: 3px solid darkred;
	border-collapse: collapse;
	width: 1000px;
	text-align: center;
}

tr, td, th
{
	border: 1px solid rosybrown;
	padding: 15px;
	font-size: 110%;
}